#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
    position: relative;
}

#flightStatus {
    color: green;
}

#flightDisplay {
    text-align: center; 
    height: 400px; 
    width: 100%;
}

#spaceShuttleHeight {
    display: inline-block;
}

.center-block {
    text-align: center; 
    display: inline-block;
}

.centered {
    text-align: center;
}

#rocket {
    position: absolute; /* needed for top/left to work */
    top: 0px; /* starting vertical position */
    left: 250px; /* starting horizontal position */
}